#entry main

;
;	add(3, 42);
;

main:
	pushw $1209			; Push second argument
	push $1				; Push first argument
	call @add			; Call function
	popx $2				; Delete two arguments from stack

	mov %bx %dx
	call @printNum
	call @printNL

	mov %bx $0
	call @exit

add:
	arg %ax $1			; Get first argument (bytes)
	argw %bx $3			; Get second argument (bytes)
	add %ax %bx			; Add arguments
	mov %dx %ax			; Set return argument
	ret					; Return

#include "lib/stdlib.vm"