; Strings Before Strings

:start
	mov %ax $3
	mov %cx &pointer
	
:printLoop
	ptr %bx %cx
	sysi
	inc %cx
	cmp %bx $0
	je @end
	jmp @printLoop
	
:end
	mov %ax $1
	mov %bx $0
	sysi
	
#data
	stb *pointer $72
	stb *a $101
	stb *b $108
	stb *c $108
	stb *d $111
	stb *e $10
	stb *f $0
#end