#entry main

;
;	Entry point
;
main:
	mov %cx &name				; Print name
	call @printStr
	call @printNL

	ldb %bx &EXIT_SUCCESS		; Exit
	call @exit

#include "lib/stdlib.vm"

#data
	str *name "Jonah"
	stb *EXIT_SUCCESS $0
#end