;
;	Exit the program
;	BX: Exit code
;
exit:
	mov %ax $1
	sysi
	
;
;	Print new line
;
printNL:
	pusha
	
	mov %ax $3
	mov %bx $10
	sysi
	
	popa
	ret
	
;
;	Print a string
;	CX: Address of string
;	
printStr:
	push %ax						; Save AX
printStr_loop:
	mov %ax $3						; Set system call to print chars
	ptr %bx %cx						; Dereference
	cmp %bx $0						; Compare end of string
	jz @printStr_end				; Finish if 0
	sysi							; System call
	inc %cx							; Increment pointer
	jmp @printStr_loop				; Start over
printStr_end:
	pop %ax							; Restore AX
	ret
	
;
;	Print a number
;	BX: Number
;
printNum:
	pusha
	mov %ax $4
	sysi
	popa
	ret